{
	"version": 1,
	'disable_existing_loggers': True,
	'formatters': {
		'verbose': {
			'format': '%(levelname)s %(asctime)s %(module)s %(process)d %(thread)d %(message)s'
		},
		'simple': {
			'format': '%(name)s.%(funcName)s.%(lineno)s - %(message)s'
		},
	},
	'handlers': {
		'null': {
			'level': 'DEBUG',
			'class': 'logging.NullHandler',
		},
		'console': {
			'level': 'DEBUG',
			'class': 'logging.StreamHandler',
			'formatter': 'simple'
		}
	},
	'loggers': {
		'__main__': {
			'handlers': ['console'],
			'level': 'INFO',
			'propagate': False,
		},
		'gadann': {
			'handlers': ['console'],
			'level': 'INFO',
			'propagate': True,
		},
		'gadann.trainer': {
			'handlers': ['console'],
			'level': 'INFO',
			'propagate': False,
		},
		'gadann.layer': {
			'handlers': ['console'],
			'level': 'ERROR',
			'propagate': False,
		}
	}
}